{% extends "layout-certificate.html" %}
      {% block content %}

      <p>{{session['datum']}}</p>
      <h1>Gartenbegehung</h1>      
      <p>
        <b>Parzelle: {{session['parzelle']}}</b>
      
        Liebe Gartenfreundin/lieber Gartenfreund der Parzelle Nr. {{session['parzelle']}},<br>
        am {{session['datum']}} hat der Vorstand des Taunusg&auml;rten Anlage 3 e.V. die G&auml;rten der Anlage angesehen.
      </p>
      <!--<h3>Schulnote: <b>{{session['zustand']}}</b></h3>-->      

      <h4>Bebauung/überdachte Fläche</h4>      
      <p>
        Die Laube/überdachte Fläche beträgt {{session['dach']}} m².
        {{session['dachbauten']}}
      </p>  

      <h4>Drittelung/Gartenzustand</h4> 
      <p>
        {{session['drittelung']}}
      </p>

      <h4>Unkraut/Invasive Pflanzen</h4> 
      <p>
        {{session['unkraut']}}
      </p>

      <h4>Sonstiges</h4> 

        {%for item in session['details']%}
          <li class="w3-medium">{{item}}</li>
        {% endfor %}

      <br>

      <h5>Allgemeiner Hinweis</h5>
      <p class="w3-small">Gemäß § 8 Abs. 1 BKleingG ist die Parzelle kleingärtnerisch zu nutzen, insbesondere zur Gewinnung von Gartenbauerzeugnissen für den Eigenbedarf und zur Erholung. Ein Drittel der Parzellenfläche muss demnach für den Anbau von Obst und/oder Gemüse verwendet werden. Nichteinhaltung wirkt sich negativ auf unsere Gemeinnützigkeit aus und kann zu deutlich höheren Abgaben führen. Der Vorstand sieht sich daher verpflichtet dafür zu sorgen, dass die Vorschriften des Bundeskleingartengesetzes eingehalten werden.</p>
      
      <p class="w3-small">
        Wir wünschen dir ein schönes Gartenjahr! Bei Rückfragen kannst du dich jederzeit per E-Mail an uns wenden: <b>vorstand@taunus3.de</b>
        <br><br>
        <b>Dein Gartenvorstand</b>
        <br>
        <div class="w3-small w3-text-teal">
        Barbara Lange (Vorsitzende), Stefan Weitzel (Zweiter Vorsitzender), Zdenko Antunovic (Gartenwart), Andreas Lange (Kassierer), Johannes Weigel (Beisitzer), Helen Yohannes (Kantinenbeauftragte), Brigitte Klass (Schriftführung)
      </p>

      {% endblock %}
