{% extends "layout-certificate.html" %}
{% block content %}

<div class="pdf-header">
  <span class="pdf-date">{{session['datum']}}</span>
  <span class="pdf-parzelle"><strong>Parzelle: {{session['parzelle']}}</strong></span>
</div>

<h1>Gartenbegehung</h1>

<p>
  Liebe Gartenfreundin, lieber Gartenfreund der Parzelle Nr. {{session['parzelle']}},<br>
  am {{session['datum']}} hat der Vorstand des Taunusg&auml;rten Anlage 3 e.V. die G&auml;rten der Anlage angesehen.
</p>

<section>
  <h2>Bebauung/&uuml;berdachte Fl&auml;che</h2>
  <p>Die Laube/&uuml;berdachte Fl&auml;che betr&auml;gt {{session['dach']}} m&sup2;.</p>
  <p>{{session['dachbauten']}}</p>
</section>

<section>
  <h2>Drittelung/Gartenzustand</h2>
  <p>{{session['drittelung']}}</p>
</section>

<section>
  <h2>Unkraut/Invasive Pflanzen</h2>
  <p>{{session['unkraut']}}</p>
</section>

<section>
  <h2>Sonstiges</h2>
  <ul>
  {%for item in session['details']%}
    <li>{{item}}</li>
  {% endfor %}
  </ul>
  <p style="font-size:9pt;font-weight:bold;margin-top:10px">Wir bitten dich, die oben genannten Punkte zu beachten und M&auml;ngel bis zum {{session.get('frist', '')}} zu beseitigen.</p>
</section>

<section class="legal">
  <h2>Allgemeiner Hinweis</h2>
  <p>Gem&auml;&szlig; &sect; 8 Abs. 1 BKleingG ist die Parzelle kleing&auml;rtnerisch zu nutzen, insbesondere zur Gewinnung von Gartenbauerzeugnissen f&uuml;r den Eigenbedarf und zur Erholung. Ein Drittel der Parzellenfl&auml;che muss demnach f&uuml;r den Anbau von Obst und/oder Gem&uuml;se verwendet werden. Nichteinhaltung wirkt sich negativ auf unsere Gemeinn&uuml;tzigkeit aus und kann zu deutlich h&ouml;heren Abgaben f&uuml;hren. Der Vorstand sieht sich daher verpflichtet daf&uuml;r zu sorgen, dass die Vorschriften des Bundeskleingartengesetzes eingehalten werden.</p>
</section>

<footer>
  <p>Wir w&uuml;nschen dir ein sch&ouml;nes Gartenjahr! Bei R&uuml;ckfragen kannst du dich jederzeit per E-Mail an uns wenden: <strong>vorstand@taunus3.de</strong></p>
  
  <p class="signature"><strong>Dein Gartenvorstand</strong></p>
  
  <div class="board">
    <p>Barbara Lange (Vorsitzende), Stefan Weitzel (2. Vorsitzender), Zdenko Antunovic (Gartenwart), Andreas Lange (Kassierer), Johannes Weigel (Beisitzer), Helen Yohannes (Kantinenbeauftragte), Brigitte Klass (Schriftf&uuml;hrung)</p>
  </div>
</footer>

{% endblock %}
