{% extends "layout.html" %}
{% block content %}
<h2>Details zur Gartenbewertung</h2>
<div class="w3-container">
  <p class="w3-large">
    Hallo {{session['name1']}}, gib hier die Details zur Gartenbewertung ein.
    <br>
    <a href="/name">Namen ändern</a>
  </p>
  <br>
  <div class="w3-container">
    <form class="w3-container" method="post">
      <p class="w3-large">
        {% for item in items.basis %}
          <label class="w3-text-teal">{{item.label}}</label>
          <input class="w3-input w3-border w3-light-grey" 
                 name="{{item.id}}" 
                 type="{{item.type}}" 
                 placeholder="{{item.placeholder}}"
                 style="width:100px"
                 {% if item.required == 'true' %}required{% endif %}>
          <br><br>
        {% endfor %}

        <h4>Bebauung/überdachte Fläche</h4>
        <select class="w3-select w3-border" id="dachbauten" name="dachbauten">
          {% for item in items.dachbauten %}
            <option value="{{item.id}}">{{item.label}}</option>
          {% endfor %}
        </select>
        <br><br>

        <h4>Drittelung/Gartenzustand</h4>
        <select class="w3-select w3-border" id="drittelung" name="drittelung">
          {% for item in items.drittelung %}
            <option value="{{item.id}}">{{item.label}}</option>
          {% endfor %}
        </select>
        <br><br>

        <h4>Unkraut/Invasive Pflanzen</h4>
        <select class="w3-select w3-border" id="unkraut" name="unkraut">
          {% for item in items.unkraut %}
            <option value="{{item.id}}">{{item.label}}</option>
          {% endfor %}
        </select>
        <br><br>

        <h3>Sonstiges</h3>
        {% for item in items.sonstiges %}
          {% if item.type == 'checkbox' %}
            <input class="w3-check w3-teal" type="checkbox" name="{{item.id}}" value="{{item.output_text}}">
            <label class="w3-text-teal">{{item.label}}</label>
            <br><br>
          {% elif item.type == 'text' %}
            <label class="w3-text-teal">{{item.label}}</label><br>
            <input class="w3-input w3-border" type="text" name="{{item.id}}" placeholder="{{item.placeholder}}">
            <br><br>
          {% endif %}
        {% endfor %}

        <button class="w3-btn w3-teal" type="submit">Vorschau</button>
      </p>
    </form>
  </div>
{% endblock %}
