{% extends "layout.html" %}
      {% block content %}

        <div id="loading">
          <b>bitte warten...</b><br><br>
          <img src="{{ url_for('static',filename='loading.gif') }}" width="50px">
        </div>

        <div id="content">
          <div class="w3-row">
            <p>{{session['datum']}}</p>
            <form method="post">
              <button class="w3-btn w3-teal" type="submit" onclick="loading();">Bewertung speichern & PDF erstellen!</button>
            </form>            
            
            <h1>Gartenbegehung</h1>      
            <p>
              <b>Parzelle: {{session['parzelle']}}</b>
              <br>            
              Liebe Gartenfreundin/lieber Gartenfreund der Parzelle Nr. {{session['parzelle']}},<br>
              am {{session['datum']}} hat der Vorstand des Taunusg&auml;rten Anlage 3 e.V. die G&auml;rten der Anlage angesehen.
            </p>
            <!--<h3>Schulnote: <b>{{session['zustand']}}</b></h3>-->      

            <h4>Bebauung/überdachte Fläche</h4>      
            <p>
              Die Laube/überdachte Fläche beträgt {{session['dach']}} m². {{session['dachbauten']}}
            </p>  

            <h4>Drittelung/Gartenzustand</h4> 
            <p>
              {{session['drittelung']}}
            </p>

            <h4>Unkraut/Invasive Pflanzen</h4> 
            <p>
              {{session['unkraut']}}
            </p>

            <h4>Sonstiges</h4> 

              {%for item in session['details']%}
                <li class="w3-medium">{{item}}</li>
              {% endfor %}

            <br>

            <h5>Hinweise zur Bewertung</h5>
            <p class="w3-small">Gemäß § 8 Abs. 1 BKleingG ist die Parzelle kleingärtnerisch zu nutzen, insbesondere zur Gewinnung von Gartenbauerzeugnissen für den Eigenbedarf und zur Erholung. Ein Drittel der Parzellenfläche muss demnach für den Anbau von Obst und/oder Gemüse verwendet werden. Nichteinhaltung wirkt sich negativ auf unsere Gemeinnützigkeit aus und kann zu deutlich höheren Abgaben führen. Der Vorstand sieht sich daher verpflichtet dafür zu sorgen, dass die Vorschriften des Bundeskleingartengesetzes eingehalten werden.</p>

            <h5>Deinen Garten haben angesehen:</h5>      
            <p class="w3-medium">
              {{session['name1']}}, {{session['name2']}}
            </p>

            <a href="javascript:history.back()"><b>Zur&uuml;ck & bearbeiten</b></a>
            <br>
            <br>
            <form method="post">
              <button class="w3-btn w3-teal" type="submit" onclick="loading();">Bewertung speichern & PDF erstellen!</button>
            </form>
          </div>
        </div>


      {% endblock %}
